
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/roboto-v48-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.sidebar {
    background-color: rgb(25, 145, 210);
    color: white;
    padding: 1rem;
}

.sidebar .logo {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    margin-bottom: 2rem;
}

.logo-icon {
    width: 2.5rem;
    fill: white;
}

.nav-icon {
    width: 1.2rem;
    fill: white;
}

.sidebar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px
}

.sidebar ul li a {
    display: flex;
    gap: 0.8rem;
    margin-left: 1rem;
    text-decoration: none;
    color: white;
}

.sidebar ul li a:hover {
    color: #ddd;
}

.content {
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.top {
    padding: 1rem;
    display: flex;
    align-items: center;
}

.top .search {
    display: flex;
    gap: 0.5rem;
    margin-left: 2rem;
    flex: 1;
}

.top form {
    flex: 1;
}

.top input {
    font-size: 1rem;
    padding: 0.5rem;
    width: 100%;
    max-width: 600px;
    border-radius: 20px;
    border: none;
    background-color: hsl(214, 32%, 91%);
    height: 1.5rem;
}

.top input:focus {
    outline: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.top-right {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-right: 4rem;
}

.top-icon {
    width: 1.5rem;
    transition: transform 0.2s ease;
}

.top img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center 60%;
    
}

.bottom {
    padding: 0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 3rem 0.25rem;
}

img.bottom-avatar {
    width: 55px;
    height: 55px;
}

.buttons {
    display: flex;
    gap: 1rem;
    margin-right: 1.5rem;
}

button {
    font-size: 0.9rem;
    background-color: rgb(25, 145, 210);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    border: none;
}

button:hover {
    background-color: #0b6fad;
}

.main-content {
    background-color: hsl(214, 32%, 91%);
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.projects {
    padding: 3rem 1rem 2rem 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
}

.project:first-of-type{
    position: relative;
}

.project:first-of-type::before {
    content: 'Your Projects';
    position: absolute;
    top: -30px;
    left: -5px;
   font-size: 1.2rem;
}

.project {
    background-color: white;
    border-radius: 5px;
    padding: 1.5rem 1rem 0.5rem;
    border-left: 8px solid hsl(42, 87%, 55%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project p {
    font-size: 0.85rem;
    color: #666;
    margin-top: 0.3rem;
}

.art-icons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.art-icon {
    width: 1.2rem;
    transition: transform 0.2s ease;
}

.art-icon:hover,
.top-icon:hover {
    transform: scale(1.2);
}

.right-sidebar {
    padding: 3rem 2rem 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.announcements {
    background-color: white;
    border-radius: 6px;
    padding: 0rem 1rem;
    position: relative;
}

.announcements::before {
    content: 'Announcements';
    position: absolute;
    top: -30px;
    left: 3px;
    font-size: 1.2rem;
}

.announcements div {
    margin: 1.3rem 0;
}

.announcements p {
    font-size: 0.70rem;
    color: #666;
    margin-top: 0.1rem;
}

.trending {
    background-color: white;
    border-radius: 6px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}

.trending::before {
    content: 'Trending';
    position: absolute;
    top: -30px;
    left: 3px;
    font-size: 1.2rem;
}

.account {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.avatar,
.bottom-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center 60%;
}

.trending p {
    font-size: 0.8rem;
    color: #666;
}
